{% from 'MopaBootstrapBundle::flash.html.twig' import session_flash %}

<!DOCTYPE html>

{% block html_tag %}
<html lang="{{ app.request.locale }}">
{% endblock html_tag %}

{% block head %}
<head>
    <meta charset="{{ _charset }}" />
    {% block head_style %}
    {# Override this block to add your own files! #}
    {# To use this without less or sass use the base.html.twig template as your base
     # Be sure you understand whats going on: have a look into
     # https://github.com/phiamo/MopaBootstrapBundle/blob/master/Resources/doc/css-vs-less.md
     #}
    {% endblock head_style %}

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    {% block head_script %}
    {# Overwrite this block to add your own js here, to get them generated into final files
    {% javascripts
        'http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js'
    %}
        <script type="text/javascript" src="{{ asset_url }}"></script>
    {% endjavascripts %}
     #}
    {% endblock head_script %}

    <title>{% block title %}Mathieu Baechtel{% endblock title %}</title>

    {% block head_bottom %}
    {% endblock head_bottom %}
</head>
{% endblock head %}

{% block body_tag %}
<body>
{% endblock body_tag %}

{% block body_start %}
{% endblock body_start %}

{% block body %}

    <div class="container">

    {% block navbar %}
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                  <span class="sr-only">Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{{ path("ghost_blog_homepage") }}">Mathieu Baechtel</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                {{ knp_menu_render('main', {'currentClass': 'active'}) }}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <ul class="nav navbar-nav navbar-right">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                {{ app.security.getToken().getUser().getUsername() }}<span class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" role="menu">
                                <li><a href="{{ path("fos_user_security_logout") }}">Logout</a></li>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <form class="navbar-form navbar-right">
                        <a href="{{ path("fos_user_security_login") }}" type="submit" class="btn btn-default">Sign in</a>
                    </form>
                {% endif %}
            </div><!--/.nav-collapse -->
        </div><!--/.container-fluid -->
    </nav>
    {% endblock navbar %}

    {% block container %}
    {% endblock container %}

    </div>

    <footer class="footer">
        <div class="container">
            <div class="navbar-header">
                <p class="text-muted"></p>
            </div>
            <ul class="nav navbar-nav navbar-left"></ul>
            <ul class="nav navbar-nav navbar-right navbar-social">
                <li><a class="icon" href="https://www.facebook.com/mbaechtel" title="Facebook"><i class="fa fa-facebook"></i></a></li>
                <li><a class="icon" href="https://twitter.com/MatB_74" title="Twitter"><i class="fa fa-twitter"></i></a></li>
                <li><a class="icon" href="https://www.google.com/+MathieuBaechtel" title="Google"><i class="fa fa-google-plus"></i></a></li>
                <li><a class="icon" href="https://www.instagram.com/mathieu.baechtel/" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            </ul>
        </div>
    </footer>

    {% block body_end_before_js %}
    {% endblock body_end_before_js %}

    {% block foot_script %}
    {# To only use a subset or add more js overwrite and copy paste this block
    To speed up page loads save a copy of jQuery in your project and override this block to include the correct path
    Otherwise the regeneration is done on every load in dev more with use_controller: true
     #}
    {% block foot_script_assetic %}
    {% endblock foot_script_assetic %}

    {% endblock foot_script %}
{% endblock body %}

{% block body_end %}
{% endblock body_end %}
</body>
</html>
